.git
.github
.idea
.vscode
.codex
.superpowers

node_modules
**/node_modules
target
**/target
dist
**/dist
build
**/build
.turbo
coverage

.env
.env.*
.zipship
storage
tmp
apps/api/storage

docs
**/*.log
**/.DS_Store
